/* Write your CSS here */
.bg-container {
  background-color: #93c5fd;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.card-container {
  background-color: #f8fafc;

  border-radius: 8px;

  display: flex;
  flex-direction: column;
  padding: 40px;
}

.question-container {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
}

.select {
  font-family: 'Roboto';
  font-size: 15px;
  width: 180px;
  height: 30px;
  border: 1px solid #cbd2d9;
  outline: none;
}
.option {
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: bold;
}

.para {
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: 700;
  margin-left: 10px;
}

.country {
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 500;
}
